* {
  margin: 0;
  padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: azure;
    font-family: 'Montserrat';
    margin: 0 15%;
}

/* ---MENU--- */
.navbar, .bg-body-tertiary{
    background-color: azure!important;
}

.container-fluid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15%;
    margin: 1% 0;
}

.nav-item{
    display: grid;
    width: 100%;
    font-size: 1em;
    padding: 10px;
}

.nav-link{
    padding: 0;
}

.navbar-nav{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
}

.container-fluid > img{
    width: 10%;
}

.icones > img{
    width: 26%;
}

/* ---CARROSEL INICIAL--- */

.carousel-item.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: white;
    height: 60vh;
    border-radius: 20px;
    gap: 5px;
    text-align: center;
}

/* .carousel-item {
    padding-left: 290px;
    padding-right: 290px;
} */

#one{
    background-image: url(Assests/img/bg-home-eco.png);
}

#one a{
    color: white;
}

#two a{
   color: white; 
}

#one h2{
    font-weight: 700;
}

.carousel-item.active img{
    width: 150px;
}

#two{
    background-image: url(Assests/img/Bg-home-2.png);
}

/* AJUSTES RESPONSIVO */
@media (max-width: 990px) {
    body{
        margin: 2% 10%;
    }

    .navbar .navbar-brand {
        display: none;
    }

}
